.header-page{
	display: flex;
    margin: 0 auto;
    width: 90%;
}
.index-page{
	width: 100%;
}
.search-bar{
	text-align: right;
}
.search{
    margin-top: 20px;
    margin-right: -5px;
    padding: 10px;
    background: #f0f0f0;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position-x: 257px;
    background-position-y: 15px;
    width: 290px;
    border: 0px;
    font-style: italic;
}
.title-page{
	margin-bottom: -1px;
	margin-top: 5px;
	font-weight: bold;
	color: #777f88;
}
.subtitle-page{
	font-size: 14px;
}
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    border-top: 2px solid #f0f0f0;
    margin-top: 18px;
    border-bottom: 2px solid #f0f0f0;
    font-weight: 600;
    padding-left: 83px;
    text-decoration: none;
}

.li {
    float: left;
}

.li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

.li a:hover {
    background-color: #0EEDDD;
    text-decoration: none;
    color: white;
}
.li  a.active {
    background-color: #02C6B8;
    color: white;
}
.li  a.active:hover {
    background-color: #0EEDDD;
}
.slide{
	background:url(../img/slider.jpg) no-repeat;
	height: 540px;
	background-size: cover;
	padding: 10px;
}
.floating-tab{
    background: rgba(0,0,0,0.5);
    width: 550px;
    height: 400px;
    position: relative;
    top: 10px;
    left: 650px;
    padding: 10px 49px;
    color: white;
}
.slide-title{
	font-size: 50px;
	font-weight: 600;
}
.slide-subtitle{
	line-height:40px;
	margin-top: 155px;
	position: relative;
	font-size: 23px;
	font-weight: 600;
}
.slide-button{
	background: #02c6b8;
    border: none;
    padding: 13px 27px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.visimisi-page{
    width: 100%;
    height: 670px;
    background:url(../img/visimisi.gif) no-repeat;
    background-attachment: fixed;
    background-size: 500px;
    background-position: 10% 50%;
}
.visimisi-content{
    text-align: center;
    margin: auto;
    /*background: rgba(0, 164, 59, 0.85);*/
    color: rgb(0,164,59);
    height: 100%;
    padding: 80px 30px;
    line-height: 35px;
}
.bimbel-page{
    width: 100%;
    height: 665px;
    padding: 30px;
    background:url(../img/bimbel.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.bantuan-page{
    width: 100%;
    height: 665px;
    background:url(../img/bantuan.jpg) no-repeat;
    background-attachment: fixed;
    background-size: 500px;
    background-position: 85% 50%;
}
.float-menu{
    position: fixed;
    bottom: 20px;
    width: 100%;
    font-size: 20px;
    color: #02c6b8;
    left: 90%;
}
.pointer{
    cursor: pointer;
}
thead, tbody { display: block; }

tbody {
    height: 450px;       /* Just for the demo          */
    width: 1200px;
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: auto;  /* Hide the horizontal scroll */
}
table{
    margin: auto;
    position: relative;
    top: -70px;
    background-color: #fff;
    font-size: 12px;
}
.bantuan-content{
    text-align: center;
    margin: auto;
    /*background: rgba(253, 181, 19, 0.7);*/
    color: red;
    height: 100%;
    padding: 80px 30px;
    line-height: 35px;
}